<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "Egyptian13Schema",
        "DayZero.Armenian",
        epochDaysSinceZeroValue: "201_442",
        maxDaysSinceEpochValue:  "3_649_634")
    {
        DisplayName = "Armenian",
        MaxMonthsSinceEpochValue = "129_986",
        MonthsInYear = 13
    }.Execute() #>
