<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "Egyptian12Schema",
        "DayZero.Armenian",
        epochDaysSinceZeroValue: "201_442",
        maxDaysSinceEpochValue:  "3_649_634")
    {
        EnableIsIntercalaryDay = false,
        EnableIsLeapYear = false,

        MaxMonthsSinceEpochValue = "119_987",
        MonthsInYear = 12
    }.Execute() #>
