<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this, "Egyptian13Schema", "DayZero.Armenian", "201_442", "3_649_634")
    {
        DisplayName = "Armenian",
        MonthsInYear = 13
    }.Execute() #>
