<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this, "Coptic13Schema", "DayZero.Coptic", "103_604", "3_652_134")
    {
        DisplayName = "Coptic",
        MaxMonthsSinceEpochValue = "129_986",
        MonthsInYear = 13
    }.Execute() #>
