<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this, "Coptic12Schema", "DayZero.Coptic", "103_604", "3_652_134").Execute() #>
