<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "FrenchRepublican12Schema",
        "DayZero.FrenchRepublican",
        epochDaysSinceZeroValue: "654_414",
        maxDaysSinceEpochValue:  "3_652_056")
    {
        DisplayName = "French Republican",

        MonthsInYear = 12
    }.Execute() #>
