<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "TabularIslamicSchema",
        "DayZero.TabularIslamic",
        epochDaysSinceZeroValue: "227_014",
        maxDaysSinceEpochValue:  "3_543_311")
    {
        DisplayName = "Tabular Islamic",

        EnableIsSupplementaryDay = false,

        MonthsInYear = 12
    }.Execute() #>
