# EditorConfig is awesome: https://EditorConfig.org

root = true

################################################################################

[*]
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4
trim_trailing_whitespace = true
end_of_line = crlf

# Powershell files
[*.ps1]
indent_size = 4

# JSON files
[*.json]
indent_size = 2

# XML files
[*.xml]
indent_size = 2

# XML project files
[*.{csproj,fsproj,proj,projitems,shproj}]
indent_size = 2

# XML config files
[*.{props,targets,config,nuspec,resx}]
indent_size = 2

# C#
[*.cs]
indent_size = 4

charset = utf-8-bom
