<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this, "Egyptian12Schema", "DayZero.Armenian", "201_442", "3_649_634")
    {
        EnableCalendar = false,
        EnableDate = false,
        EnableMonth = true,
        MaxMonthsSinceEpochValue = "119_987",
        MonthsInYear = 12
    }.Execute() #>
