<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this, "TropicaliaSchema", "DayZero.NewStyle", "0", "3_652_055")
    {
        EnablePragmas = true,
        MaxMonthsSinceEpochValue = "119_987",
        MonthsInYear = 12
    }.Execute() #>
