<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "Egyptian12Schema",
        "DayZero.Zoroastrian",
        epochDaysSinceZeroValue: "230_637",
        maxDaysSinceEpochValue:  "3_649_634")
    {
        EnableIsIntercalaryDay = false,
        EnableIsLeapYear = false,
        EnablePragmas = true,

        MonthsInYear = 12
    }.Execute() #>
