<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "Egyptian13Schema",
        "DayZero.Egyptian",
        epochDaysSinceZeroValue: "-272_788",
        maxDaysSinceEpochValue:  "3_649_634")
    {
        MaxMonthsSinceEpochValue = "119_987",
        MonthsInYear = 13
    }.Execute() #>
