<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "FrenchRepublican13Schema",
        "DayZero.FrenchRepublican",
        epochDaysSinceZeroValue: "654_414",
        maxDaysSinceEpochValue:  "3_652_056")
    {
        DisplayName = "French Republican",

        MaxMonthsSinceEpochValue = "131_761",
        MonthsInYear = 13
    }.Execute() #>
