<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "PositivistSchema",
        "DayZero.Positivist",
        epochDaysSinceZeroValue: "653_054",
        maxDaysSinceEpochValue:  "3_652_058")
    {
        MonthsInYear = 13
    }.Execute() #>
