<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)Calendar.tt" once="true" #>
<#= new CalendarTemplate(this,
        "WorldSchema",
        "DayZero.NewStyle",
        epochDaysSinceZeroValue: "0",
        maxDaysSinceEpochValue:  "3_652_058")
    {
        DisplayName = "Revised World",

        MaxMonthsSinceEpochValue = "119_987",
        MonthsInYear = 12
    }.Execute() #>
