<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)ZeroCalendar.tt" once="true" #>
<#= new ZeroCalendarTemplate(this, "TropicaliaSchema", "3_652_055")
    {
        EnableDateCustomMath = true,
        EnableMonth = true,
        EnableMonthCustomMath = true,
        EnableYear = true,
        EnablePragmas = true,
        MaxMonthsSinceEpochValue = "119_987",
        MonthsInYear = 12
    }.Execute() #>
