<#@ template hostspecific="true" #>
<#@ output extension=".g.cs" #>
<#@ include file="$(CalendrieT4Directory)ZeroCalendar.tt" once="true" #>
// SPDX-License-Identifier: BSD-3-Clause
// Copyright (c) Tran Ngoc Bich. All rights reserved.

<#= new ZeroCalendarTemplate(this, "GregorianSchema")
    {
        EnableMicroOptimizations = false,
        EnablePragmas = true
    }.Execute() #>
